rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
    match /users/{userId} {
      // allow everyone to read public profiles
      allow read;
      // only allow owner to create/update their public profile
      allow create, write, update: if request.auth.uid == userId;
      }
    }
  
    match /usersPrivate/{userId} {
    // only allow owner to read their private profile
    allow read: if request.auth.uid == userId;
    // 1) allow user to create/update their own profile
    // 2) do not allow user to change [registeredEvents, profileId, status, contactId] field
    allow create, write, update: if request.auth.uid == userId 
                          && !("registeredEvents" in request.writeFields)
                          && !("profileId" in request.writeFields)
                          && !("status" in request.writeFields)
                          && !("contactId" in request.writeFields);
  	}

}